DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1495574642117840936/k0UzAbiTWaYDYzw3B4ttQYrJUDCWTa7Tz8ZKFGzpFAqztM__jLrEcU6dzXhC61DnWd6w
ALLOWED_ORIGINS=https://lebni.netlify.app/
CONTACT_RATE_LIMIT_WINDOW_MS=900000
CONTACT_RATE_LIMIT_MAX=5
